body {
  font-family: "Jost", sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(white, #0062a2);
}

.login_titulo {
  display: flex;
  border-bottom: white;
}

.login {
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.75);
  align-items: center;
  background-color: #eceaea;
  color: #0062a2;
  padding: 50px;
  border-radius: 8px;
  padding-top: 20px;
}

.caixa_login {
  margin-top: -15px;
}

.caixa_senha {
  margin-top: -15px;
}

.cadastro {
  text-decoration: none;
  color: aliceblue;
}
a.cadastro:hover {
  color: #0062a2;
  border-bottom: 1px solid white;
}

.voltar {
  text-decoration: none;
  width: 25px;
  height: 25px;
}

#conteiner_fundo {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#conteiner_img_telecall {
  text-align: center;
}

.img_telecall {
  height: 20%;
  width: 33%;
}

#entrar {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  background-color: #0062a2;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 7px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#login_titulo {
  border-bottom: 1px solid white;
}

input[type="text"],
input[type="password"] {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 22px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: lightblue;
}

.bem_vindo {
  font-size: 20px;
  font-weight: bold;
}

.btn {
  background-color: #0062a2;
  border: none;
}

.btn:hover {
  background-color: #1979b9;
  border: none;
}

#botao_voltar a {
  text-decoration: none;
  color: #fff;
}

#botao_cadastrar {
  text-decoration: none;
  color: #fff;
}

.login_botao {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #0062a2;
  font-size: 18px;
}

.cadastro_botao {
  margin-top: 0px;
  color: #fff;
  background-color: #0062a2;
  font-size: 18px;
}

.marg_btn {
  margin-top: 10px;
}
