body {
  margin: 0px;
  font-family: "Jost", sans-serif;
}

.box-area {
  width: 600px;
}

.right-box {
  padding: 10px;
}

::placeholder {
  font-size: 16px;
}

@media only screen and(max-width: 768) {
  .box-area {
    margin: 0 10px;
  }

  .left-box {
    height: 100px;
    overflow: hidden;
  }

  .right-box {
    padding: 20px;
  }
}

.botao_voltar {
  color: #fff;
  background-color: #0062a2;
  font-size: 16px;
}

.btn {
  background-color: #0062a2;
  border: none;
}

.btn:hover {
  background-color: #1979b9;
  border: none;
}

.botao_cadastro {
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #0062a2;
  font-size: 18px;
}

.cadastro_titulo {
  color: #0062a2;
  font-weight: bold;
  font-size: 20px;
}

.sexo_titulo {
  margin-bottom: 0px;
}

#botao_voltar a {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: linear-gradient(white, #0062a2);
}
