.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

/* Adapte os estilos conforme necessário para o modo escuro */
.dark-mode .navbar {
  background-color: #333333;
  /* Outros estilos específicos para o modo escuro... */
}

.dark-mode .container-main {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-mode main {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-mode .texto_solucoes {
  color: #ffffff;
}

.dark-mode .cards-con-1 {
  background-color: #1a1a1a;
}

.dark-mode .texto_oq_cpaas {
  color: #ffffff;
}

.dark-mode .usos_texto {
  color: #ffffff;
}

.dark-mode .oioi {
  color: #ffffff;
}

.dark-mode .percent_text {
  color: #ffffff;
}

.dark-mode .como_funciona_text {
  color: #ffffff;
}

.dark-mode .beneficios_2fa_texto {
  color: #ffffff;
}

.dark-mode .card_texto_quem_usa {
  color: #ffffff;
}
