body.dark-mode {
  background-color: #333;
  color: #fff;
}

.container-dark {
  text-align: center;
  padding: 10px;
}

/* Switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode .container-main {
  background-color: #333;
  color: #ffffff;
}

.dark-mode main {
  background-color: #333;
  color: #ffffff;
}

.dark-mode .texto_solucoes {
  color: #ffffff;
}

.dark-mode .cards-con-1 {
  background-color: #333;
}

.dark-mode .texto_oq_cpaas {
  color: #ffffff;
}

.dark-mode .usos_texto {
  color: #ffffff;
}

.dark-mode .oioi {
  color: #ffffff;
}

.dark-mode .percent_text {
  color: #ffffff;
}

.dark-mode .como_funciona_text {
  color: #ffffff;
}

.dark-mode .beneficios_2fa_texto {
  color: #ffffff;
}

.dark-mode .card_texto_quem_usa {
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #333;
  color: #ffffff;
}

.dark-mode .navbar{
    background-color: #978e8e;
}

.dark-mode .text-nav{
  color: #eaf8f8
}

.dark-mode #drop{
  background-color: #978e8e;
}

.dark-mode .text_dark{
  color: #6bc5c5;
}

.dark-mode .fundo_dark_mode_card{
  background-color: #020202;
}

.dark-mode .titulo_card{
  color: #fff;
}

.dark-mode .texto_card{
  color: #fff;
}

.dark-mode .text_dark_footer{
  color: #fff;
}

.dark-mode .aa{
  background-color: #978e8e ;
}