body {
  margin: 0px;
  font-family: "Jost", sans-serif;
}

.modavo {
  width: 20%;
  margin-top: 15px;
}

.header {
  background: #ca1c2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 7px 26px 2px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: -1px 7px 26px 2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -1px 7px 26px 2px rgba(0, 0, 0, 0.66);
  height: 77px;
}

.menu,
a {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 20px;
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

.login {
  padding: 20px;
}

.logo-footer {
  display: flex;
}

placeholder {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#modavo {
  width: 30%;
}

#cpaas {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.cpaas2 {
  font-size: 22px;
  color: white;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #0062a2;
  padding: 22px;
  border-radius: 8px;
}

.imagens-cpaas {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.usos {
  font-size: 28px;
  text-align: center;
  text-decoration-line: underline;
}

.localizacoes {
  font-size: 28px;
  text-decoration-line: underline;
  text-align: center;
}

.mapa-telecall {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 20 px;
}

.telecall-titulo {
  font-size: 28px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 10px;
  text-decoration-line: underline;
}

.telecall-texto {
  font-size: 22px;
  color: white;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #0062a2;
  padding: 22px;
  border-radius: 8px;
}

.img_2fa {
  width: 60%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.img_google {
  width: 60%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

#subtitulo {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}

.botao {
  text-align: center;
  margin-left: 860px;
}

.butao {
  background-color: #0062a2;
  color: aliceblue;
  border-radius: 20px;
  padding: 12px;
  font-family: "Jost", sans-serif;
  border: 2px solid;
}

.celular {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 10%;
}
.celular2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
  border-radius: 10%;
}
#images {
  text-align: center;
}

.footer {
  background: #31353b;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.news {
  background-color: #31353b;
  color: aliceblue;
  border-radius: 6px;
  padding: 1px;
  font-family: "Jost", sans-serif;
  border: 2px solid;
}
.col-2,
.col-1,
.col-3,
.col-4 {
  padding: 100px;
  color: white;
}

.link {
  margin-left: 0%;
}

#copyright {
  text-align: center;
  color: #161616;
  background: #212327;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

#mapa {
  border-radius: 20px;
}
